@import "../node_modules/bootstrap/scss/bootstrap.scss";
@font-face {
    font-family: "Cabin";
    src: url('../fonts/Cabin/static/Cabin/Cabin-Regular.ttf');
}

@font-face {
    font-family: "Kalam";
    src: url('../fonts/Kalam/Kalam-Bold.ttf');
}

$alert-color: #eb651c;
$bg-color: #e9ecef;
$first-color: #1a3e70;
body,
.card-text {
    font-family: "Cabin";
}

body,
.btn-outline-success:hover,
.btn-outline-primary {
    color: $bg-color;
}

.container {
    padding: 0px;
}

h1,
.btn-outline-primary,
.message-alert,
.fiche-pets {
    font-family: "Kalam";
}

h1 {
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}

p {
    font-size: 18px;
}

ul {
    list-style: none;
    padding-left: 0rem;
    margin-bottom: 2rem;
}

header .logo-nav,
.navbar-expand,
.footer,
.btn-outline-primary:hover {
    background-color: $bg-color;
}

header .logo-nav {
    border: none;
}

.navbar {
    padding: 10px 15px;
}

span .search-fa {
    display: inline;
}

form .search-band {
    display: none;
}

.navbar-expand .navbar-collapse,
.fa-reseau,
.form-inline {
    display: flex !important;
    justify-content: space-between;
}

.fa-reseau .fa {
    font-size: 1.5rem;
}

.fa-reseau {
    align-content: center;
    align-self: center;
    text-align: center;
}

.row,
.intro-spa {
    margin: auto;
}

.intro-spa {
    background-color: $first-color;
    width: 100%;
}

.info-help {
    padding: 30px;
}

#bg-kissDog {
    background-image: url("../assets/images/chien-kiss-bg.jpg");
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.card {
    border: 1px solid $first-color;
}

.card-img-top {
    border-bottom: 1px solid $first-color;
    height: 300px;
}

.card-body {
    height: 220px;
    padding: 1rem 1rem 0rem 1rem;
    margin-bottom: 1rem;
    overflow: auto;
}

.card-subtitle {
    font-size: 12px;
    text-align: left;
}

.fiche-events .card-img-top {
    height: 350px;
}

.fiche-events .card-body {
    height: 250px;
}

.card-text {
    font-size: 16px;
    max-height: 120px;
}

.message-alert,
.fiche-pets,
.btn-outline-success,
.search-fa {
    color: $alert-color;
}

.btn-outline-primary,
.btn-outline-primary:hover {
    border-color: $bg-color;
    font-size: 20px;
}

.btn-outline-success,
.btn-outline-success:hover {
    border-color: $alert-color;
}

.btn-outline-success:hover {
    color: $bg-color;
    background-color: $alert-color;
}

footer,
footer a:link,
.btn-outline-primary:hover,
.card {
    color: $first-color;
}

footer a:link {
    text-decoration: none;
}

@media screen and (min-width: 760px) {
    span .search-fa {
        display: none;
    }
    form .search-band {
        display: block;
    }
    .container {
        padding-right: var(--bs-gutter-x, 0.75rem);
        padding-left: var(--bs-gutter-x, 0.75rem);
    }
}

@media screen and (min-width: 992px) {
    .card-img-top {
        height: 250px;
    }
    .card-text {
        max-height: auto;
    }
    h1 {
        margin-left: 30px;
        margin-right: 30px;
        margin-bottom: 30px;
    }
    .info-help {
        padding: 50px;
    }
    ul {
        padding-left: 2rem;
        margin-bottom: 1rem;
    }
    .fa-reseau .fa {
        font-size: 2.5rem;
    }
    .fa-reseau {
        justify-content: space-evenly;
    }
}