@import "../node_modules/bootstrap/scss/bootstrap.scss";
@font-face {
    font-family: "Cabin";
    src: url('../fonts/Cabin/static/Cabin/Cabin-Regular.ttf');
}

@font-face {
    font-family: "Kalam";
    src: url('../fonts/Kalam/Kalam-Bold.ttf');
}

body {
    font-family: "Cabin";
    color: white;
}

p {
    font-size: 18px;
}

span .search-fa {
    display: none;
}

header .logo-nav {
    border: none;
    background-color: rgba(0, 0, 0, 0);
}

.navbar-expand .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
    justify-content: space-between;
}

.navbar-expand,
.footer {
    background-color: #e9ecef;
}

footer {
    color: #1a3e70;
}

ul {
    list-style: none;
}

footer a:link {
    text-decoration: none;
    color: #1a3e70;
}

.fa-reseau {
    text-align: center;
    align-content: center;
    align-self: center;
    justify-content: space-evenly;
    display: flex;
}

.fa-reseau .fa {
    font-size: 2.5rem;
}

.form-inline {
    display: flex;
}

h1 {
    font-family: "Kalam";
    text-align: center;
    margin: 30px;
    margin-top: 50px;
}

.message-alert {
    font-family: "Kalam";
    color: #eb651c;
}

.navbar {
    padding: 10px 15px;
}

.info-help {
    padding: 50px;
}

.intro-spa {
    background-color: #1a3e70;
    width: 100%;
    margin: auto;
}

#bg-kissDog {
    background-image: url("../assets/images/chien-kiss-bg.jpg");
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.btn-outline-success {
    color: #eb651c;
    border-color: #eb651c;
}

.btn-outline-success:hover {
    color: #fff;
    background-color: #eb651c;
    border-color: #eb651c;
}

.btn-outline-primary {
    color: white;
    border-color: #fff;
    font-size: 20px;
    font-family: "Kalam";
}

.btn-outline-primary:hover {
    color: #1a3e70;
    background-color: #fff;
    border-color: #fff;
}

.card {
    color: #1a3e70;
    border: 1px solid #1a3e70;
}

.card-img-top {
    border-bottom: 1px solid #1a3e70;
}

.card-text {
    font-family: "Cabin";
}

@media screen and (max-width: 760px) {
    span .search-fa {
        display: inline;
    }
    form .search-band {
        display: none;
    }
    .container {
        padding: 0px;
    }
}